span {
    font-weight: bold;
    background: orangered;
    padding: .3em .8em;
    cursor: pointer;
    border-radius: 20px;
}

.play-container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;
}
input {
    padding: 1em;
    margin-bottom: 2em;
}